<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.musicocracy.fpgk.ui">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- We're going to use our custom application class CyberJukeboxApplication -->
    <application
        android:name="com.musicocracy.fpgk.CyberJukeboxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">

            <!-- Make this the startup activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestMainActivity" />
        <activity android:name=".TestBrowseActivity" />
        <activity android:name=".TestDatabaseActivity" />
        <activity
            android:name=".TestBroadcastReceiverActivity"
            android:launchMode="standard" />
        <activity android:name=".TestBroadcastSenderActivity" />
        <activity android:name=".TestAuthenticationActivity" />
        <!-- Needed for LoginActivity to work -->
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".TestNetworkTestActivity" />
        <activity android:name=".SelectionActivity" />
        <activity android:name=".ConnectActivity" />
        <activity android:name=".RequestActivity" />
        <activity android:name=".SongSelectActivity" />
        <activity android:name=".PartyConfigActivity" />
        <activity android:name=".BlacklistActivity" />
        <activity android:name=".NowPlayingActivity" />
        <activity android:name=".AddTermActivity"></activity>
    </application>

</manifest>